.btn{
    margin: 50px;
    text-align: center;
  }
  
  .mybtn{
          border-radius:15px;
          text-decoration:none;
          font-family:sans-serif;
          font-size:20px;
          padding: 10px 20px;
          background-color:#0606efce;
          color:#fff;
          transition-delay:.2s;
          transition:.3s;
          font-variant-caps:all-small-caps;
          box-shadow:4px 3px 11px 0 #187dd6;
          }
  .mybtn:hover{
          background-color:#353fc6;
          box-shadow:4px 3px 11px 0 #01439a;
          }