*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit; }

.App {
  text-align: center;
}

#text{
 
  display: inline-block;
  font-size: 1rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  transition: color .3s;
  cursor: pointer;
}
#text:hover{
  color: #0062b9;
}
#homeHero{

  color: #fff;
  background: linear-gradient(to right, rgba(0, 98, 185, 0.8), rgba(0, 98, 185, 0.8)), url(../src/Components/common-bg.svg);
  background-position: center;
  height: 80vh;
 
  position: relative;
  
}
.headingPrimary{
 
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
.name{
  
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
