@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Courgette&family=Pacifico&family=Sintony:wght@700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

.App {
  text-align: center;
}

#text {
  display: inline-block;
  font-size: 1rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  transition: color 0.3s;
  cursor: pointer;
}
#text:hover {
  color: #0062b9;
}
#homeHero {
  color: #fff;
  background: linear-gradient(
    to right,
    rgba(18, 101, 173, 0.97),
    rgba(10, 92, 164, 0.45)
    ),
    url(../src/Components/common-bg.svg);
  background-position: center;
   background-attachment: fixed;
  position: relative;
}
.headingPrimary {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
.name {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#button::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

#button:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#button::before {
  content: " ";
  border-radius: 6px;

  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform 0.9s ease;
}
.heading-sec__main {
  display: block;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 3.5rem;
  position: relative;
}
.heading-sec__main--lt {
  color: #fff;
}
.heading-sec__main--lt::after {
  content: "";
  background: #fff !important;
}
.heading-sec__main::after {
  content: "";
  position: absolute;
  top: calc(100% + 1.5rem);
  height: 5px;
  width: 3rem;
  background: #0062b9;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}
@media only screen and (max-width: 37.5em) {
  .heading-sec__main::after {
    top: calc(100% + 1.2rem);
  }
}
#hide {
  display: none;
}
#myIcon:hover + #hide {
  display: block;
  color: red;
}
#techstacks {
  background: linear-gradient(
      rgba(253, 250, 250, 0.646),
      rgba(254, 255, 255, 0.89)
    ),
    url();
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#about {
  background-image: url(./Images/bg-png.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#about > div > div > img {
  height: 100%;
  transition: 2000ms;
  cursor: pointer;
}
#about > div > div > img:hover {
  transform: scale(1.06);
}
#projects {
  background-image: url(./Images/project-png.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#statistics {
  background: linear-gradient(
      rgba(253, 250, 250, 0.646),
      rgba(254, 255, 255, 0.89)
    ),
   ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#scroll_bar::-webkit-scrollbar {
  display: none;
}

#contact {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 100%;
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.9),
      rgba(11, 20, 54, 0.8),
      rgba(73, 20, 195, 0.9)
    ),
    url("./Components/common-bg.svg") center no-repeat;
  background-size: cover;
}

.donut {
  position: relative;
  width: 200px;
  height: 200px;
  filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.4));
}

.donut-default {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.donut-white {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  background: #fff;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.donut-line {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.donut-text {
  top: 25px;
  left: 25px;
  width: 150px;
  height: 150px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.donut-text span {
  color: black;
}

/* ============ instalment 1 ==========*/

.instalment1 .donut-case {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #048aff;
  position: absolute;
  top: 0;
  left: 0;
  background-clip: border-box;
  overflow: hidden;
}

.instalment1 .donut-case::before {
  content: "";
  clip: rect(0 250px 100px 0);
  -webkit-transform: rotate(90deg);
  transform: rotate(180deg);
  background: rgb(200, 199, 199);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.instalment1 .donut-case::after {
  content: "";
  clip: rect(0 100px 200px 0);
  -webkit-transform: rotate(327.6deg);
  transform: rotate(360deg);
  background: #048aff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#giHubCalender{
 
  border: 1px solid red;
}